# Environment Variables

# Copy this file to `.env` and fill it in with your values.
# Only invited collaborators will be able to see your .env values
# NOTE: .env is a shell file so there can't be spaces around "="

# Optional: Preferred TCP Port for this server
PORT=5000

# ID of your Facebook App.
# See: https://developers.facebook.com/docs/development/create-an-app/app-dashboard#app-id
APP_ID=

# ID of your Facebook Page which is connected to Instagram
PAGE_ID=

# Page Access Token.
# See: https://developers.facebook.com/docs/pages/access-tokens/#get-a-page-access-token
PAGE_ACCESS_TOKEN=

# The Secret of your Facebook App.
# Your App secret can be found in App Dashboard -> Settings -> Basic
APP_SECRET=

# An arbitrary string that is used for the webhook verification request.
# See: https://developers.facebook.com/docs/messenger-platform/getting-started/webhook-setup/
VERIFY_TOKEN=

# Optional: locale code from locales folder. Defaults to en_US
# LOCALE=en_US
